/RemoteCtrl/.vs
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/Debug
/RemoteCtrl/x64
/RemoteCtrl/RemoteClient/Debug
/RemoteCtrl/RemoteClient/x64
/RemoteCtrl/RemoteCtrl/Debug
/RemoteCtrl/RemoteCtrl/x64
/RemoteCtrl/RemoteCtrl.sln
/RemoteCtrl/RemoteCtrl/RemoteCtrl.aps
/.vs
/RemoteCtrl/RemoteCtrl/ClassDiagram.cd
